// add-photo

.add-photo {
  width: 100%;
  border: 2px solid $special-border-blue-color; // временно
}

.add-photo__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.add-photo__img {
  width: 280px;
  min-height: 374px;

  background-image: url("../img/photo-road-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.add-photo__nav {
  margin-top: 40px;
  margin-bottom: 27px;

  border: none;
}

.add-photo__options-img {
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;

  margin-top: 0;
  margin-bottom: 0;

  padding-left: 0;

  &:first-child {
    padding-right: 20px;
  }

  &:nth-child(2) {
    padding-right: 40px;
  }
}

.add-photo__option-img {
  &:first-child {
    padding-right: 20px;
  }

  &:nth-child(2) {
    padding-right: 15px;
  }
}

.add-photo__range {
  width: 100%;

  margin-top: 40px;
}

.add-photo__line {
  width: 100vw;
  min-height: 1px;

  display: block;

  margin-left: -29px;
  margin-bottom: 37px;

  position: relative;
  top: 0;

  background: $lite-grey-blue-color;
}

.add-photo__send-form {
  border: 3px solid $crimson-color;

  margin-bottom: 12px;

  padding-top: 13px;
  padding-left: 91px;
  padding-right: 91px;
  padding-bottom: 15px;

  color: $crimson-color;
  background-color: transparent;
}

.add-photo__cancel-form {
  margin-bottom: 41px;

  padding-top: 13px;
  padding-left: 103px;
  padding-right: 103px;
  padding-bottom: 15px;

  color: $lite-grey-blue-color;
  border: 3px solid $lite-grey-blue-color;
  background-color: transparent;
}

.add-photo__range-display {
  display: none;
}

// ---------------------------

@media (min-width: $tablet-width) {
  .add-photo__form {
    display: flex;
    flex-direction: row;

    background-color: $lite-white-color;

    margin-left: -20px;
    margin-right: -20px;

    padding-top: 58px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 53px;
  }

  .add-photo__img {
    min-width: 300px;
    min-height: 397px;

    background-image: url("../img/photo-road-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .add-photo__nav {
    display: flex;
    flex-direction: column;

    margin-top: -25px;
  }

  .add-photo__options-img {
    display: flex;
    flex-direction: column;

    &:first-child {
      padding-right: 0;
    }
  }

  .add-photo__hr {
    min-width: 274px;
    height: 1px;

    color: $lite-grey-blue-color;
  }

  .add-photo__line {
    display: none;
  }

  .add-photo__option-img {
    display: flex;
    align-items: center;
  }

  .add-photo__svg {
    width: 23px;
    height: 22px;
  }

  .add-photo__range-display {
    display: block;
  }

  .add-photo__range-display-fix {
    display: none;
  }

  .add-photo__btn {
    margin-bottom: -84px;
  }

  .add-photo__cancel-form {
    margin-bottom: 0;
  }
}

// ---------------------------

@media (min-width: $desktop-width) {
  .add-photo__nav {
    margin-top: -48px;
  }

  .add-photo__img {
    min-width: 300px;
    min-height: 397px;
    background-image: url("../img/photo-road-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .add-photo__send-form {
    margin-right: 42px;

    padding-left: 42px;
    padding-right: 36px;
  }

  .add-photo__cancel-form {
    padding-left: 56px;
    padding-right: 50px;
  }

  .add-photo__form {
    justify-content: space-between;

    margin-left: 0;
    margin-right: 0;

    padding-left: 80px;
    padding-right: 60px;
  }

  .add-photo__svg {
    width: 44px;
    height: 44px;
  }

  .add-photo__btn {
    margin-bottom: -123px;
    padding-top: 82px;
  }
}

// add-photo
