// effect-day

.effect-day {
  display: none;
}

// ---------------------------

@media (min-width: $tablet-width) {
  .effect-day {
    display: block;

    margin-top: 59px;
    margin-bottom: 100px;

    border: 2px solid $special-border-blue-color; // временно
  }

  .effect-day__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .effect-day__img-day-total {
    width: 815px;
    min-height: 276px;

    background-image: url("../img/24-hours-tablet.png");
    background-repeat: no-repeat;
  }

  .effect-day__info {
    margin-top: -29px;
    margin-left: 18px;

    padding-right: 1px;
  }

  .effect-day__header {
    font-size: 30px;
    color: $one-dark-blue-color;
    font-weight: bold;
    line-height: 1.2;

    padding-right: 136px;
  }

  .effect-day_text {
    font-size: 14px;
    color: $one-dark-blue-color;
    font-weight: 400;
    line-height: 1.2;

    padding-right: 26px;
  }

  .effect-day__link {
    font-size: 14px;
    color: $crimson-color;
    font-weight: 400;
    line-height: 1.2;
  }
}

// ---------------------------

@media (min-width: $desktop-width) {
  .effect-day {
    margin-top: -2px;
    margin-bottom: 75px;

    background-color: $lite-white-color;
  }

  .effect-day__grey-bg {
    position: absolute;

    margin-top: 0;
    margin-left: -130px;

    width: 100vw;
    min-height: 39%;

    z-index: -1;

    background-color: $lite-white-color;
  }

  .effect-day__img-day-total {
    width: 684px;
    min-height: 345px;

    background-image: url("../img/24-hours-desktop.png");
    background-repeat: no-repeat;
  }

  .effect-day__header {
    line-height: 1;
    margin-bottom: 27px;
  }

  .effect-day__info {
    margin-top: -29px;
    margin-left: 67px;

    padding-right: 50px;
  }

  .effect-day__none-br {
    display: none;
  }

  .effect-day_text,
  .effect-day__link {
    font-size: 18px;
    line-height: 1;
  }

  .effect-day_text {
    margin-bottom: 41px;
  }
}

// effect-day
