// footer-pink

.footer-pink {
  min-height: 276px;

  margin-left: -20px;
  margin-right: -20px;

  border: 2px solid $special-border-red-color; // временно
}

.footer-pink__index {
  display: none;
}

.footer-pink__blocks {
  list-style: none;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;

  padding-top: 32.6px; // делим общее расстояние от блока до блока пополам
  padding-left: 51px;
  padding-right: 52px;
  padding-bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
}

.footer-pink__logo-link-img {
  display: block;

  width: 147px;
  min-height: 40px;

  background-image: url("../img/logo-pink-blue-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-pink__tw {
  padding-top: 16px;
  padding-left: 14px;
  padding-right: 13px;
  padding-bottom: 15px;
}

.footer-pink__tw-svg {
  width: 18px;
  height: 14px;
}

.footer-pink__fb {
  padding-top: 12px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 15px;
}

.footer-pink__fb-svg {
  width: 9px;
  height: 18px;
}

.footer-pink__youtube {
  padding-top: 15px;
  padding-left: 17px;
  padding-right: 13px;
  padding-bottom: 17px;
}

.footer-pink__youtube-svg {
  width: 15px;
  height: 13px;
}

.footer-pink___link {
  text-decoration: none;
}

.footer-pink__tw,
.footer-pink__fb {
  margin-right: 12px;
}

.footer-pink___link-radius {
  border: 3px solid $one-lite-grey-color;
  border-radius: 50%;
}

.footer-pink__copyright-svg {
  width: 27px;
  height: 34px;
}

.footer-pink___social-links {
  margin-top: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-pink____copyright {
  margin-top: 39px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-pink____developed-by {
  padding-right: 15px;

  font-size: 14px;
  color: $one-dark-blue-color;
  line-height: 1.286;
}

// ---------------------------

@media (min-width: $tablet-width) {
  .footer-pink {
    min-height: 127px;
  }

  .footer-pink__index {
    display: block;
  }

  .footer-pink__blocks {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;

    padding-top: 32.6px; // делим общее расстояние от блока до блока пополам
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-pink___social-links,
  .footer-pink____copyright {
    margin-top: 0;
  }
}

// footer-pink
