// general

.general {
  min-width: 320px;
  background-color: $white-color;

  margin: 0;
  padding: 0;

  font-family: $main-font;
  font-size: 14px;
  line-height: 1;

  overflow-x: hidden;
}

// general
