// general

.general {
  min-width: 320px;
  background-color: $white-color;

  margin: 0;

  padding: 0;

  font-family: $main-font;
  font-size: 14px;
  line-height: normal;
  font-weight: normal;

  overflow-x: hidden;
}

.general__button-style {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  border-radius: 50px;
  // цвет обводки, текста и отступы индивидуально
  /*
    color: $white-color;

    border: 3px solid $white-color;
    padding-top: 13px;
    padding-left: 42px;
    padding-right: 41px;
    padding-bottom: 15px;
  */
}

.general__button-style-form {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.667;
  color: $white-color;

  border: none;
  border-radius: 3%;
  background-color: $green-color;
}

// ---------------------------

@media (min-width: $desktop-width) {
  .general__button-style {
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    line-height: 0.857;
    border-radius: 50px;
    // цвет обводки, текста и отступы индивидуально
    /*
      color: $white-color;

      border: 3px solid $white-color;
      padding-top: 13px;
      padding-left: 42px;
      padding-right: 41px;
      padding-bottom: 15px;
    */
  }
}

// general
