// header-title

.header-title {
  margin-left: -20px;
  margin-right: -20px;

  border: 2px solid $special-border-red-color; // временно
}

.header-title__close-open {
  display: block;
}

.header-title__top,
.header-title__top-img {
  min-height: 70px;

  margin-top: -12px;
}

.header-title__top-img {
  padding-left: 20px;
  padding-right: 19px;
}

.header-title__bg {
  background-color: $one-dark-blue-color;
}

.header-title__menu-link-main {
  list-style: none;

  min-height: 64px;

  margin: 0;
}

.header-title__line-down-main {
  min-width: 320px;

  margin-left: -29px;

  position: relative;
  top: 46px;
}

.header-title__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.778;
  color: $white-color;

  position: relative;
  top: 16px; // визуально top: 0, по факту top: -6px;
}

.header-title__top-img-link {
  width: 75px;
  min-height: 22px;

  position: absolute;
  top: 21px;

  background-image: url("../img/logo-pink-white-mobile.svg");
  background-size: cover;
}

.header-title__top-img-x {
  display: block;

  width: 24px;
  min-height: 23px;

  position: relative;
  top: 31px;
  right: -254px;

  background-image: url("../img/x-close.png");
  background-size: cover;
}

.header-title__links {
  min-height: 64px;

  margin-left: -40px;

  padding-left: 0;

  text-align: center;
}

.header-title__line-top {
  display: block;
  background: $three-dark-blue-color;
  min-height: 1px;
}

.header-title__line-down {
  min-height: 1px;

  display: block;

  background: $black-color;
}

.header-title__line-down-link {
  position: relative;
  top: 30px;
}

.header-title__line-down-link-last {
  top: 30px;
}

// закрытое меню

.header-title__closed {
  display: block;
}

.header-title__closed,
.header-title__closed-img {
  min-height: 58px;

  margin-top: 0;
}

.header-title__closed-img {
  display: block;

  background-image: url("../img/header-title-closed-320.png");
  background-size: cover;

  padding-left: 20px;
  padding-right: 19px;
}

.header-title__closed-img-link {
  display: block;

  width: 75px;
  min-height: 22px;

  position: relative;
  top: 18px;

  background-image: url("../img/logo-pink-white-mobile.svg");
  background-size: cover;
}

.header-title__closed-img-burger {
  display: block;

  width: 24px;
  min-height: 23px;

  position: relative;
  top: -4px;
  right: -230px;

  svg {
    width: 50px;
    height: 24px;
  }
}

// ---------------------------

@media (min-width: $tablet-width) {
  .header-title__top,
  .header-title__top-img {
    min-height: 110px;
  }

  .header-title__top-img-x {
    top: 53px;
    right: -593px;
  }

  .header-title__top-img-link {
    width: 147px;
    min-height: 40px;

    position: absolute;
    top: 26px;

    background-image: url("../img/logo-pink-white-tablet.svg");
    background-size: cover;
  }

  .header-title__closed-img-link {
    width: 147px;
    min-height: 40px;

    position: relative;
    top: 26px;

    background-image: url("../img/logo-pink-white-tablet.svg");
    background-size: cover;
  }

  .header-title__line-down-main {
    min-width: 660px;
    top: 86px;
  }

  .header-title__closed,
  .header-title__closed-img {
    min-height: 110px;
  }

  .header-title__closed-img-burger {
    top: 2px;
    right: -566px;
  }
}

// ---------------------------

@media (min-width: $desktop-width) {
  .header-title__top-img-x,
  .header-title__line-top,
  .header-title__line-down,
  .header-title__closed-img {
    display: none;
  }

  .header-title__closed {
    min-height: 0;
  }

  .header-title {
    margin-left: -130px;

    padding-left: 130px;
    padding-right: 130px;

    width: 100%;
    min-height: 110px;

    background-image: url("../img/header-title-bg-desktop.png");
    background-size: cover;
  }

  .header-title__bg {
    background-color: transparent;
  }

  .header-title__top-img {
    padding-left: 0;
    padding-right: 0;
  }

  .header-title__top-img-link {
    width: 147px;
    min-height: 40px;

    position: absolute;
    top: 21px;

    margin-left: 0;

    background-image: url("../img/logo-pink-white-desktop.svg");
    background-size: cover;
  }

  .header-title__menu-link-main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-width: 620px;

    padding-left: 0;
  }

  .header-title__down {
    background: transparent;
  }

  .header-title__close-open {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-title__link {
    text-transform: none;
  }
}

// header-title
