// header-title

.header-title {
  background-color: $one-dark-blue-color;

  margin-left: -20px;
  margin-right: -20px;

  border: 2px solid $special-border-red-color; // временно
}

.header-title__top,
.header-title__top-img {
  min-height: 70px;

  margin-top: -12px;
}

.header-title__top-img {
  padding-left: 20px;
  padding-right: 19px;
}

.header-title__menu-link-main {
  min-height: 64px;

  margin: 0;
}

.header-title__line-down-main {
  width: 100vw;

  margin-left: -29px;

  position: relative;
  top: 68px;
}

.header-title__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.778;
  color: $white-color;

  position: relative;
  top: 16px;  // визуально top: 0, по факту top: -6px;
}

.header-title__top-img-link {
  width: 75px;
  min-height: 22px;

  position: absolute;
  top: 21px;

  background-image: url("../img/logo-pink-white-mobile.svg");
  background-size: cover;
}

.header-title__top-img-x {
  width: 24px;
  min-height: 23px;

  position: absolute;
  top: 21px;
  right: 19px;

  background-image: url("../img/x-close.png");
  background-size: cover;
}

.header-title__links {
  min-height: 64px;

  margin-left: -40px;

  padding-left: 0;

  text-align: center;
}

.header-title__line-top {
  display: block;
  background: $three-dark-blue-color;
  min-height: 1px;
}

.header-title__line-down {
  min-height: 1px;

  display: block;

  background: $black-color;
}

.header-title__line-down-link {
  position: relative;
  top: 30px;
}

.header-title__line-down-link-last {
  top: 30px;
}

// header-title
