// load-app

.load-app {
  min-height: 271px;
  background-color: $two-dark-blue-color;

  margin-left: -20px;
  margin-right: -20px;

  text-align: center;

  border: 2px solid $special-border-red-color; // временно
}

.load-app__container {
  margin-top: 56px; // визуально padding-margin-top: 0, по факту margin-top: 18px
  margin-left: 20px;
  margin-right: 20px;
}

.load-app__download-link {
  color: $white-color;
  border: 3px solid $white-color;

  padding-top: 13px;
  padding-left: 42px;
  padding-right: 41px;
  padding-bottom: 15px;
}

.load-app__flex {
  display: flex;
  justify-content: center;

  margin-top: 53px;
}

.load-app__links {
  width: 205px;

  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 0;
  margin-bottom: 0;

  padding: 0;
}

.load-app__platform-apple {
  width: 47px;
  min-height: 57px;

  display: block;

  background-image: url("../img/logo-apple.svg");
  background-size: cover;
}

.load-app__platform-android {
  width: 43px;
  min-height: 47px;

  display: block;

  background-image: url("../img/logo-android.svg");
  background-size: cover;
}

.load-app__platform-windows {
  width: 44px;
  min-height: 41px;

  display: block;

  background-image: url("../img/logo-microsoft.svg");
  background-size: cover;
}

.load-app__availability {
  padding-top: 29px;
  padding-left: 8px;
  padding-right: 5px;
  padding-bottom: 35px;
}

.load-app__text {
  font-size: 14px;
  line-height: 1.714;
  color: $white-color;
}

// ---------------------------

@media (min-width: $tablet-width) {
  .load-app {
    width: 321px;

    margin-top: -386px;
    margin-left: 0;

    background-color: transparent;
  }

  .load-app__container {
    margin-top: 56px; // визуально padding-margin-top: 0, по факту margin-top: 18px
    margin-left: 0;
    margin-right: 0;
  }

  .load-app__download-link {
    padding-top: 13px;
    padding-left: 64px;
    padding-right: 62px;
    padding-bottom: 15px;
  }

  .load-app__text {
    font-size: 18px;
  }
}

// ---------------------------

@media (min-width: $desktop-width) {
  .load-app {
    margin-top: -426px;
  }

  .load-app__download-link {
    padding-left: 45px;
    padding-right: 45px;
  }
}

// load-app
