// users-photo

.users-photo {
  min-height: 936px;

  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: contain;

  margin-top: -60px;
  margin-left: -20px;
  margin-right: -20px;

  position: relative;
  z-index: -1;

  border: 2px solid $special-border-lite-green-color; // временно
}

.users-photo__header {
  padding-top: 73px; // визуально padding-top: 0, по факту padding-top: 28px

  text-align: center;
  font-size: 24px;
  color: $white-color;
  font-weight: 400;
}

// users-photo
