// users-pix

.users-pix {
  min-height: 2484px;

  margin-top: -701px;
  margin-left: -20px;
  margin-right: -20px;

  background-color: $white-color;

  border: 2px solid $special-border-red-color; // временно
}

.users-pix__fkex {
  margin-left: 20px;
  margin-right: 20px;

  display: flex;
  justify-content: center;
}

.users-pix__description {
  margin-top: 0;
  margin-bottom: 0;

  padding-top: 55px;
  padding-left: 16px;
  padding-right: 17px;
  padding-bottom: 56px;

  text-align: center;
  font-size: 14px;
  line-height: 2.143;
  color: $one-dark-blue-color;
}

.users-pix__content-add {
  margin-bottom: 20px;
}

.users-pix__top-day-bg {
  width: 140px;

  position: absolute;
  right: 20px;

  background-color: $crimson-color;

  padding-top: 6px;
  padding-bottom: 6px;
}

.users-pix__top-day {
  margin: 0;

  display: block;

  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2;
  color: $white-color;
  text-align: center;
}

.users-pix__img {
  display: block;
}

.users-pix__img-panoramic {
  width: 100%;
  min-height: 137px;

  background-image: url("../img/panorama-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.users-pix__img-levon {
  min-height: 180px;

  margin-left: 20px;
  margin-right: 20px;

  background-image: url("../img/photo-car-mobile@1x.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.users-pix__img-anton {
  min-height: 180px;

  margin-left: 20px;
  margin-right: 20px;

  background-image: url("../img/photo-drumset-mobile@1x.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.users-pix__img-boris {
  min-height: 180px;

  margin-left: 20px;
  margin-right: 20px;

  background-image: url("../img/photo-window-mobile@1x.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.users-pix__img-sergey {
  min-height: 180px;

  margin-left: 20px;
  margin-right: 20px;

  background-image: url("../img/photo-fair-mobile@1x.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.users-pix__img-maxim {
  min-height: 180px;

  margin-left: 20px;
  margin-right: 20px;

  background-image: url("../img/photo-pov-mobile@1x.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.users-pix__img-nadezhda {
  min-height: 180px;

  margin-left: 20px;
  margin-right: 20px;

  background-image: url("../img/photo-wing-mobile@1x.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.users-pix__info-pix {
  margin-left: 20px;
  margin-right: 20px;

  padding-top: 25px;
  padding-left: 18px;
  padding-right: 13px;
  padding-bottom: 26px;

  background-color: $lite-white-color;
}

.users-pix__main {
  display: flex;
  align-items: center;
}

.users-pix__name {
  font-size: 14px;
  line-height: 1.714;
  font-weight: bold;
  color: $one-dark-blue-color;
}

.users-pix__last-time {
  font-size: 12px;
  line-height: 1.714;
  text-transform: uppercase;
  color: $one-dark-blue-color;
}

.users-pix__message {
  margin-top: -10px;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.714;
  color: $one-dark-blue-color;
}

.users-pix__likes {
  margin-top: 0;

  display: flex;
  align-items: center;

  svg {
    width: 13px;
    height: 12px;

    padding-right: 19px;
  }
}

.users-pix__text,
.users-pix__total {
  font-size: 12px;
  line-height: 1.714;
  text-transform: uppercase;
  color: $crimson-color;
}

// users-pix
