// users-photo

.users-photo {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: contain;

  min-height: 1415px;
  margin-top: -203px;
  margin-left: -20px;
  margin-right: -20px;

  position: relative;
  z-index: -1;

  border: 2px solid $special-border-lite-green-color;
}

.users-photo__header {
  padding-top: 257px;
  text-align: center;
  font-size: 48px;
  line-height: normal;
  color: $white-color;
  font-weight: 400;
}

// users-photo
