// values-pink-app

.values-pink-app {
  border: 2px solid $special-border-lite-green-color;
}

.values-pink-app__bg-headers {
  background-color: $white-color;
  padding-top: 46px;
  padding-left: 48px;
  padding-right: 49px;
  padding-bottom: 66px;
}

.values-pink-app__mega,
.values-pink-app__price {
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  line-height: normal;
  color: $one-dark-blue-color;
}

.values-pink-app__mega {
  margin-bottom: 41px;
}

.values-pink-app__bg {
  width: auto;
  min-height: 1217px;
  background: url("../img/grey-bg.png") no-repeat;
  background-size: cover;

  margin-top: -106px;
  margin-left: -20px;
  margin-right: -20px;
}

.values-pink-app__price-list {
  list-style: none;
  padding-top: 303px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 48px;
}

.values-pink-app__info {
  text-align: center;
}

.values-pink-app_header {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  line-height: 1.333;
  color: $black-color;
}

.values-pink-app__info {
  font-size: 34px;
  text-align: center;
  font-weight: 400;
  line-height: 1.333;
  color: $one-dark-blue-color;
}

.values-pink-app__info__add {
  margin-bottom: 78px;
}

.values-pink-app__img {
  display: block;
  width: 250px;
  min-height: 677px;
  background: url(../img/iphone-screen-mobile@1x.png) no-repeat;
  background-size: cover;

  margin-left: 292px;
  padding-left: 62px;
  padding-right: 62px;
}

// values-pink-app
