// Шрифты, подключаемые в проект

//

// Open Sans
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
// Open Sans

//

// Шрифты, подключаемые в проект
