// -------------------------------- //

// каждому БЭМ-блоку должен соответствовать отдельный препроцессорный файл

// параметры
@import "variables.scss";
// параметры

// для общих стилей
@import "blocks/general.scss";
@import "blocks/img.scss";
@import "blocks/container.scss";
// для общих стилей

// шрифты, подключение файлов
@import "fonts.scss";
// шрифты, подключение файлов

// общие блоки, подключение файлов
@import "blocks/header-title.scss";
@import "blocks/visually-hidden.scss";
//
@import "blocks/footer-pink.scss";
// общие блоки, подключение файлов

// index.html, подключение файлов
@import "blocks/phone-in-hand.scss";
@import "blocks/load-app.scss";
@import "blocks/values-pink-app.scss";
@import "blocks/reviews.scss";
@import "blocks/effect-day.scss";
@import "blocks/slider.scss";
@import "blocks/catalog.scss";
@import "blocks/contacts.scss";
@import "blocks/coordinates.scss";
// index.html, подключение файлов

// photo.html, подключение файлов
@import "blocks/users-photo.scss";
@import "blocks/users-pix.scss";
@import "blocks/diamond.scss";
@import "blocks/add-photo.scss";
@import "blocks/modal-window.scss";
// photo.html, подключение файлов

// form.html, подключение файлов
@import "blocks/contest.scss";
@import "blocks/share-history.scss";
// form.html, подключение файлов

// каждому БЭМ-блоку должен соответствовать отдельный препроцессорный файл
