// параметры

// цвет
$white-color: #ffffff;
$lite-white-color: #f2f2f2;
$one-dark-blue-color: #283645;
$two-dark-blue-color: #1d2631;
$three-dark-blue-color: #485461;
$black-color: #000000;
$lite-black-color: #010101;
$gray-color: #868b91;
$gray-blue-color: #5e6873;
$crimson-color: #d22856;
$one-lite-grey-color: #e9ebec;
$two-lite-grey-color: #e5e5e5;
$lite-grey-blue-color: #dddfe0;
$green-color: #2aab6d;
// цвет

// специальные цыета для рамок по заданию
$special-border-red-color: #ff0000;
$special-border-lite-green-color: #5aff00;
$special-border-blue-color: #0600ff;
// специальные цыета для рамок по заданию

// шрифт
$main-font: "Open Sans", "Arial", sans-serif;
// шрифт

// ширина экрана
$tablet-width: 660px;
$desktop-width: 1200px;
// ширина экрана

// параметры
